<mat-card class="container-fluid  login-wraper ">
    <div align="center"> <img src="/assets/images/user2.png" id="icon" alt="User icon"></div>
    <div class="alert alert-danger" *ngIf="error">{{error}}</div>

    <h2><u>LOG IN:</u> <sub align="end"></sub></h2>
    <form [formGroup]="_AuthService.formSignIn" (ngSubmit)="onSubmit()">
        <section class="row">
            <mat-form-field appearance="outline">
                <mat-label>E-mail:</mat-label>
                <input formControlName="email" matInput type="email" placeholder="oulo@gmail.com*">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="_AuthService.formSignIn.controls['email'].valid"> This field is mandatory</mat-error>
            </mat-form-field>
        </section>
        <section class="row">
            <mat-form-field appearance="outline">
                <mat-label>Password:</mat-label>
                <input formControlName="password" matInput type="password" placeholder="********">
                <mat-icon matSuffix>visibility_off</mat-icon>
                <mat-error *ngIf="!_AuthService.formSignIn.controls['password'].valid"> This field is mandatory</mat-error>
                <mat-hint align="end">3 characters atleast</mat-hint>
            </mat-form-field>
        </section>
        <br>
        <mat-divider></mat-divider><br>
        <div align="end" class="footer">

            <button mat-raised-button class="mr-2" type="submit" color="primary" [disabled]="_AuthService.formSignIn.invalid"><mat-icon class="mr-1">login</mat-icon>SIGN IN</button>
            <button mat-raised-button color="warn" type="reset" matTooltip="DELETE INFO!" matTooltipPosition="above"><mat-icon>cancel</mat-icon>Cancel</button>
            <!-- <a class="ml-2" routerLinkActive="list-item-active" routerLink="register">Add account</a> -->
        </div>
    </form>
</mat-card>
<!-- </div> -->